<!DOCTYPE html>
<html>
<head>
 <link>


 <style>
body {
 background-color: #cccccc;

  <meta charset="UTF-8">
  <title>Snowboard en Santiago</title>

  </style>

</head>
 <body>

<h1>SNOWBOARD EN SANTIAGO<h1>

  <h2>Temporada Invierno 2019</h2>

  <p>Para aquellos que buscan un poco más de emoción y libertad en la nieve, este deporte está hecho a su medida… Disfruta de los maravillosos paisajes blancos y el limpio aire de montaña mientras practicas esta increíble actividad. Para mujeres, hombres, niños y adultos, el snowboard es el panorama perfecto para este invierno.<p>

    <ol>

    <li><a href="https://www.elcolorado.cl/">
    <img src="C:\Users\Renata Belarmino\Documents\Desafio_Latam\Mi-primera-pagina-web\Img\el-colorado-2-800x450.jpg" target="_blank"><br/> Ir a El Colorado </a></li>

    <li><a href="https://vallenevado.com/es/">
    <img src="C:\Users\Renata Belarmino\Documents\Desafio_Latam\Mi-primera-pagina-web\Img\logo-plantilla.jpg" target="_blank"> <br/> Ir a Valle Nevado </a></li>

    <li><a href="https://www.laparva.cl/es/">
    <img src="C:\Users\Renata Belarmino\Documents\Desafio_Latam\Mi-primera-pagina-web\Img\download.jpg" target="_blank"> <br/> Ir a La Parva </a></li>

    <li><a href="https://www.parquesdefarellones.cl/">
    <img src="C:\Users\Renata Belarmino\Documents\Desafio_Latam\Mi-primera-pagina-web\Img\logo-fare.jpg" target="_blank"> <br/> Ir a Parque Farellones </a></li>

    </ol>

    <br/>
    <br/>
    <h4>Team Roxy - Snowboard Chile</h4>

<iframe width="560" height="315" src="https://www.youtube.com/embed/ZNNp4cDClYo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<br/>
<br/>
<h4>Como llegar</h4>


<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3332.92980206537!2d-70.29722938509505!3d-33.3467836995847!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967d312b7cf83c49%3A0x33a4544f8abd15ca!2sEl+Colorado%2C+Lo+Barnechea%2C+Regi%C3%B3n+Metropolitana!5e0!3m2!1ses-419!2scl!4v1564545836527!5m2!1ses-419!2scl" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

    <li><a href="index.html"> Ir a Home </a></li>

    <form>
 Nombre:<br>
 <input type="text"><br>
 Correo:<br>
 <input type="text"><br>
 Telefono:<br>
 <input type="text"><br>
 Categoria:<br>
 <input type="radio"
name="Adulto" value="Adulto">
Adulto<br>
 <input type="radio"
name="Infantil" value="Infantil">
Infantil<br>
<input type="radio"
name="Senior" value="Senior">
Senior<br>
 Sexo:<br>
 <input type="radio"
name="genero" value="male"
checked> Hombre<br>
 <input type="radio"
name="genero" value="female">
Mujer<br>

 <input type="submit"><br>
</form>

<table>
 <tr>
 <th>Nombre<th>
<th>Apellido<th>
<th>Idad<th>
 </tr>
 <tr>
 <td>Pedro<td>
<td>Doe<td>
<td>19<td>
 </tr>
 <tr>
<td>Alicia<td>
<td>González<td>
<td>18<td>
 </tr>
</table>


 </body>
</html>
